<div class="productos">
  <div class="producto-grid">
    <div class="producto-card" *ngFor="let p of productos">
      <img [src]="p.imagen" alt="{{ p.nombre }}" class="producto-img" />
      <div class="producto-info">
        <h3>{{ p.nombre }}</h3>
        <p class="descripcion">{{ p.descripcion }}</p>
        <p class="precio">{{ p.precio | currency:'EUR' }}</p>
        <p class="stock">Stock: {{ p.stock }}</p>
        <p class="envio">🚚 Envío gratis</p>

        <div class="carrito-control">
          <input type="number" min="1" [max]="p.stock" [(ngModel)]="p.cantidadSeleccionada" placeholder="Cantidad" />
          <button (click)="agregarAlCarrito(p)">Añadir al carrito</button>
        </div>
      </div>
    </div>
  </div>
</div>
